* {
    /* border: red 1px solid; */
    margin: 0;
    padding: 0;
}

body {
    background-color: gold;
    padding: 20px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header {
    background-color: rgba(255, 255, 0, 0.5);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    gap: 10px;
}

section {
    padding: 10px;
    box-shadow: 0px 2px 5px 0px gray;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    background-color: white;
}

footer {
    background-color: rgba(255, 255, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 5px;
    max-width: 100%;
}

h1 {
    font-family: "Secular One", sans-serif;
}

p,
h2 {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 1.3rem;
}

.name {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px 15px;
    top: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.project-links {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.link-icons {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.github {
    height: 100%;
    border-radius: 0;
}

.project-description {
    padding: 0 20px 5px;
}

.footer-header {
    align-self: center;
}

@media (max-width: 1200px) {
    body {
        background-color: yellow;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 600px) {
    body {
        background-color: lightyellow;
        padding: 10px;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}
